.App {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}
p {
  margin: 5px;
}
.error {
  color: red;
  font-size: 15px;
}
button {
  margin: 0 5px;
}
.buttons {
  background-color: rgb(255, 255, 255);
  border: black 2px solid;
  color: black;
}
.green {
  background-color: green;
}





.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  height: 80px;
}

.nav-bar a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  margin: 0 20px;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-bar a:hover {
  background-color: #333;
  color: #fff;
}





.status-navbar {
  display: flex;
  background-color: #f2f2f2;
  height: 60px;
  margin-top: 20px;
  padding: 0 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.status-navbar a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  padding: 20px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}

.status-navbar a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

.status-navbar a:hover:before {
  transform: scaleX(1);
  transform-origin: right;
  background-color: #ffd700;
}

.status-navbar a:hover {
  color: #fff;
}
.active-link {
  font-weight: bolder;
}







.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s ease;
  width: 50%;
  margin: auto;
}

input[type="text"]:focus {
  outline: none;
  border-color: #333;
  animation: input-focus 0.3s ease forwards;
}

@keyframes input-focus {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(1.1);
  }
}

input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 25%;
}

input[type="submit"]:hover {
  background-color: #ffd700;
}








table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

td button:hover {
  background-color: #3e8e41;
}

